<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <h4 class="card-title">Send coins</h4>
                <p class="card-text">Enter transaction details, and click Generate transaction</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container alert alert-secondary">
    <form id="transactionForm">
        <div class="row">
            <label class="col-sm-2">Sender address:</label>
            <div class="col-sm-10">
                <input type="text" name="senderAddress" id="senderAddress" rows="2" class="form-control" value="" />
            </div>
        </div>
        <br>
        <div class="row">
            <label class="col-sm-2">Sender private key:</label>
            <div class="col-sm-10">
                <input type="text" name="privateKey" id="privateKey" rows="2" class="form-control" value="" />
            </div>
        </div>
        <br>
        <div class="row">
            <label class="col-sm-2">Recipient address:</label>
            <div class="col-sm-10">
                <input type="text" name="recipientAddress" id="recipientAddress" rows="2" class="form-control" value="" />
            </div>
        </div>
        <br>
        <div class="row">
            <label class="col-sm-2">Amount to send:</label>
            <div class="col-sm-10">
                <input type="text" name="amount" id="amount" rows="2" class="form-control" value="" />
            </div>
        </div>
        <br>
        <div class="row">
            <label class="col-sm-2">Miner fees:</label>
            <div class="col-sm-10">
                <input type="text" name="fees" id="fees" rows="2" class="form-control" value="" />
            </div>
        </div>
        <br>
        <div class="col-lg-12 text-center">
            <input type="submit" id="generateTransaction" class="btn btn-primary btn-lg" value="Generate transaction" />
        </div>
    </form>
</div>

<div class="modal modal-alert fade" id="successTransactionModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Successful transaction</h4>
                    <p>You successfully completed your transaction, it'll be added to the next block</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirm" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>    
</div>

<div class="modal modal-alert fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title col-md-10">Confirm transaction details, enter a node URL and click Validate</div>
                <button type="button" class="close col-md-2" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form id="transactionConfirmationForm">
                    <div class="row">
                        <label class="col-sm-2">Sender address:</label>
                        <div class="col-sm-10">
                            <input type="text" name="sender" id="confirmSenderAddress" rows="2" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2">Recipient address:</label>
                        <div class="col-sm-10">
                            <input type="text" name="recipient" id="confirmRecipientAddress" rows="2" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2">Amount to send:</label>
                        <div class="col-sm-10">
                            <input type="text" name="amount" id="confirmAmount" rows="2" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2">Miner fees:</label>
                        <div class="col-sm-10">
                            <input type="text" name="fees" id="confirmFees" rows="2" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2">Signature:</label>
                        <div class="col-sm-10">
                            <input type="text" name="signature" id="transactionSignature" rows="2" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2">Node:</label>
                        <div class="col-sm-10">
                            <input type="text" name="node" id="nodeUrl" rows="2" class="form-control" value="" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmTransaction" class="btn btn-success" data-dismiss="modal">Confirme</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(() => {
        $("#generateTransaction").click(() => {
            $.ajax({
                url: "/generate/transaction",
                type: "POST",
                dataType: "json",
                data: $('#transactionForm').serialize(),
                success: (response) => {
                    document.getElementById("confirmSenderAddress").value = response["transaction"]["senderAddress"];
                    document.getElementById("confirmRecipientAddress").value = response["transaction"]["recipientAddress"];
                    document.getElementById("confirmAmount").value = response["transaction"]["amount"];
                    document.getElementById("confirmFees").value = response["transaction"]["fees"];
                    document.getElementById("transactionSignature").value = response["signature"];

                    $("#basiModal").modal('show');
                },
                error: (error) => {
                    console.log(error)
                }
            })
        })
    })

    $(() => {
        function getFormData($form) {
            var unindexArray = $form.serializeArray();
        }

        $("#confirmTransaction").click(() => {
            var $form = $("#transactionConfirmationForm");
            var data = JSON.stringify(getFormData($form));

            $.ajax({
                url: `${document.getElementById("nodeUrl").value}/transactions/new`,
                type: "POST",
                headers: { 'Access-Control-Allow-Origin': "*" },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: data,
                success: (response) => {
                    $("#transactionForm")[0].reset();
                    $("transactionConfirmationForm")[0].reset();
                    $("#basicModal").modal('hide');
                    $("#successTransactionModal").modal('show');
                },
                error: (error) => {
                    console.log(error);
                }
            })
        })
    })
</script>