@model List<Node>

<div class="card-body">
    <h4 class="card-title">Add nodes</h4>
    <p class="card-text">Enter node URLs separated by comma</p>
</div>

<div class="container alert alert-secondary">
    <form id="nodeForm" method="post" action="@Url.Action("RegisterNodes", "Home")">
        <div class="row">
            <label class="col-sm-2">Node URLs</label>
            <div class="col-sm-10">
                <input type="text" name="nodes" id="nodes" rows="2" class="form-control" />
            </div>
            <br>
            <div class="col-lg-12 text-center">
                <input type="submit" id="addNodeButton" class="btn btn-primary btn-lg" value="Add node" />
            </div>
        </div>
    </form>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <h4 class="card-title">Pool</h4>
            </div>
        </div>

        <div class="col-lg-12" id="listNodes">
            <ul>
                @foreach (var item in Model)
                {
                <li>
                    <a href="@item.Address">@item.Address</a>
                </li>
                }
            </ul>
        </div>
    </div>
</div>